<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Калькулятор струмів КЗ для підстанції Хмельницьких північних електричних мереж</h1>
        <form method="post">
            <label>Rс.н. (Ом): <input type="text" name="Rcn"></label>
            <label>Xс.н. (Ом): <input type="text" name="Xcn"></label>
            <label>Rс.min. (Ом): <input type="text" name="RcMin"></label>
            <label>Xс.min. (Ом): <input type="text" name="XcMin"></label>
            <button type="submit">Розрахувати</button>
        </form>

        {{if .Zsh}}
        <div class="result">
            <h2>Результати:</h2>
            <p>Опір на шинах в нормальному режимі: {{.Zsh}} Ом</p>
            <p>Опір на шинах в мінімальному режимі: {{.ZshMin}} Ом</p>
            <p>Сила трифазного струму на шинах в нормальному режимі: {{.Ish3}} А</p>
            <p>Сила двофазного струму на шинах в нормальному режимі: {{.Ish2}} А</p>
            <p>Сила трифазного струму на шинах в мінімальному режимі: {{.IshMin3}} А</p>
            <p>Сила двофазного струму на шинах в мінімальному режимі: {{.IshMin2}} А</p>
            <p>Коефіцієнт приведення для визначення дійсних струмів: {{.Kpr}}</p>
            <p>Опір на шинах в нормальному режимі: {{.ZshN}} Ом</p>
            <p>Опір на шинах в мінімальному режимі: {{.ZshMinN}} Ом</p>
            <p>Сила трифазного струму на шинах в нормальному режимі: {{.IshN3}} А</p>
            <p>Сила двофазного струму на шинах в нормальному режимі: {{.IshN2}} А</p>
            <p>Сила трифазного струму на шинах в мінімальному режимі: {{.IshMinN3}} А</p>
            <p>Сила двофазного струму на шинах в мінімальному режимі: {{.IshMinN2}} А</p>
            <p>Опір в точці 10 в нормальному режимі: {{.ZSumN}} Ом</p>
            <p>Опір в точці 10 в мінімальному режимі: {{.ZSumMinN}} Ом</p>
            <p>Сила трифазного струму в точці 10 в нормальному режимі: {{.Iln3}} А</p>
            <p>Сила двофазного струму в точці 10 в нормальному режимі: {{.Iln2}} А</p>
            <p>Сила трифазного струму в точці 10 в мінімальному режимі: {{.IlMinN3}} А</p>
            <p>Сила двофазного струму в точці 10 в мінімальному режимі: {{.IlMinN2}} А</p>
        </div>
        {{end}}

        <a class="back-link" href="/">Повернутися на головну</a>
    </div>
</body>
</html>
