<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Калькулятор</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Калькулятор для розрахунку струму трифазного КЗ, струму однофазного КЗ, та перевірки на термічну та динамічну стійкість</h1>
        <div class="button-container">
            <a href="/calculator1" class="button">Перейти до Калькулятора 1</a>
        </div>
        <div class="button-container">
            <a href="/calculator2" class="button">Перейти до Калькулятора 2</a>
        </div>
        <div class="button-container">
            <a href="/calculator3" class="button">Перейти до Калькулятора 3</a>
        </div>
    </div>
</body>
</html>
